.ant-carousel .slick-slide {
  text-align: center;
  width: 300px;
  height: 460px;
  line-height: 460px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel .slick-slide img {
  width: 300px;
  height: 460px;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
